* { margin: 0px; padding: 0px; }
*:focus { outline: none; }

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: Nunito;
	background-color: #333;
	box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

a {
	color: #FFF;
	text-shadow: 0px -1px #333;
	text-decoration: none;
	
	background-color: #666;
	border-top: 2px solid #999;

	padding: 2px 6px;
	border-radius: 5px;
}

a:hover {
	background-color: #669900;
	border-top: 2px solid #99CC00;
}

.remove:hover {
	border-color: #C00 !important;
	background-color: #900 !important;
}

#contextmenu {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99;

	border: 1px solid #111;
	list-style: none;
}

#contextmenu li {
	padding: 2px 5px;

	color: #FFF;
	text-shadow: -1px 0px #333;
	font-size: 12px;

	background-color: #666;
	border-top: 1px solid #999;
	border-bottom: 1px solid #333;

	cursor: pointer;
}

#contextmenu li:hover {
	border-top: 1px solid #99CC00;
	background-color: #669900;
}

#contextmenu > li:hover ul {
	position: absolute;
	left: 100%;
	margin-top: -19px;
}

#contextmenu li:last-child { border-bottom: 0px; }
#contextmenu > li > ul > li { display: none; }
#contextmenu > li:hover ul > li { display: block !important; }


/* ===================== */
/* === CANVAS ========== */
/* ===================== */

#container { position: absolute; }

#canvas {
	position: absolute;
	z-index: 0;

	display: block;
	background-color: #666;
	overflow: hidden;
	pointer-events: none;
}

#grid {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;

	width: 100%;
	height: 100%;
	background-repeat: repeat;
}

#viewport {
	width: 800px;
	height: 600px;

	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;

	background-color: transparent;
	box-shadow: inset 2px 2px 0px #C00, inset -2px -2px 0px #C00;

	border: 1px solid rgba(0, 0, 0, 0.4);
	border-width: 0px;
}


/* ===================== */
/* === TOOLBAR ========= */
/* ===================== */

#scrollbar {
	width: 5px;
	height: 200px;

	margin-top: 10px;

	background-color: #333;
	box-shadow: inset -1px -1px 1px #000;
	border: 1px solid #666;

	border-radius: 5px;
	position: absolute;
	top: 0px;
	left: 267px;
	z-index: 98;

	cursor: pointer;
}

#toolbar {
	color: #CCC;
	font-size: 12px;
	text-shadow: 1px 1px 0px #000;

	width: 250px;
	height: 100%;

	padding: 10px;
	overflow: hidden;

	background-color: #444;
	border-right: 1px solid #666;
	box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);

	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99;
}

#toolbar > div {
	background-color: #333;
	border-radius: 5px;

	margin-bottom: 10px;
	padding: 5px;
}

#toolbar > div:last-child { margin-bottom: 20px; }

#toolbar > div > h2 {
	color: #FFF;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	background-color: #669900;

	background-image: url("../img/icons/collapse.png"), url("../img/gradient.svg");

	background-size: 22px 22px, contain;
	background-repeat: no-repeat, repeat;
	background-position: 210px 50%, 0px 0px;

	border-top: 1px solid #FFF;
	border-radius: 3px 3px 0px 0px;

	padding: 10px;
	cursor: pointer;
}

#toolbar > div > h2.collapsed {
	background-image: url("../img/icons/expand.png"), url("../img/gradient.svg");
	border-radius: 3px;
}

#output > h2 {
	background-image: url("../img/gradient.svg") !important;
	background-size: contain !important;
	background-repeat: repeat !important;
	background-position: 0px 0px !important;
	border-radius: 3px !important;
}

#toolbar > div > div {
	position: relative;
	background-color: #333;
	border: 1px solid #222;
	border-top: 0px;

	box-shadow: inset 0px 0px 10px #222;
	padding: 10px;
	border-radius: 0px 0px 3px 3px;

	overflow: hidden;
}


/* ===================== */
/* === TILESETS ======== */
/* ===================== */

#custom_select {
	width: 100%;
	height: 30px;
	overflow: hidden;
	background-color: #666;
	box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.2);
	background-image: url("../img/icons/select_arrow.png");
	background-position: right;
	background-repeat: no-repeat;
	border: 0px;
	border-radius: 3px;
	border: 1px solid #555;

	margin-bottom: 10px;
}

#tilesets select[name=tileset_select] {
	width: 360px;
	padding: 5px 0px 5px 5px;
	color: #CCC;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	text-shadow: 0px -1px #322;
	border: 0px;
	background: transparent;
	-webkit-appearance: none;
}

#tilesets select[name=tileset_select] option { color: #333; }

#tilesets #tiles { height: 200px; }

#tiles_container img {
	position: relative;
	display: inline;
	border: 1px solid #333;
	cursor: pointer;
}

#tiles { line-height: 0px; }
#tiles_container img:hover { border: 1px solid #FFF; }

#loading {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99;

	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

#loading > img { padding-top: 100px; }


/* ===================== */
/* === LAYERS ========== */
/* ===================== */

ul#layer_list {
	border: 1px solid #111;
	list-style: none;
}

ul#layer_list > li {
	height: 10px;
	position: relative;

	padding: 10px;
	padding-left: 35px;
	background-color: #666;

	border-top: 1px solid #999;
	border-bottom: 1px solid #333;

	background-image: url("../img/icons/eye_open.png"), url("../img/icons/cog.png");
	background-repeat: no-repeat;
	background-position: 10px center, 193px center;

	cursor: pointer;
}

ul#layer_list > li:last-child { border-bottom: 0px; }
ul#layer_list > li.hide { background-image: url("../img/icons/eye_closed.png"), url("../img/icons/cog.png"); }

ul#layer_list > li > input[type=text] {
	color: #CCC;
	width: 164px;

	text-shadow: -1px -1px rgba(0, 0, 0, 0.5);
	font-size: 12px;

	padding: 2px 5px;
	position: absolute;
	top: 4px;

	background-color: #555;
	box-shadow: none;
	border: 1px solid #999;
	border-radius: 0px;
}

ul#layer_list > li.active { background-color: #564; }

ul#layer_list > li > input[type=text][readonly] {
	color: #CCC;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.5);
	font-size: 12px;

	padding: 0px;
	top: 7px;

	background-color: transparent;
	box-shadow: none;
	border: none;

	unselectable: on;
	user-select: none;
	selectstart: false;
	cursor: pointer;
}


/* ===================== */
/* === LAYERS ========== */
/* ===================== */

#shortcuts table td {
	padding-right: 10px;
	padding-bottom: 10px;
}


/* ===================== */
/* === SETTINGS ======== */
/* ===================== */

#settings input[type=text] {
	color: #111;
	width: 100px;
	background-color: #666;
	box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.2);

	border-radius: 3px;
	border: 1px solid #555;

	padding: 3px;
}

#settings fieldset {
	border: 1px solid #555;
	padding: 10px;
	border-radius: 5px;
	background-color: #444;

	box-shadow: 1px 1px 0px #222;
}

#settings fieldset legend {
	padding: 0px 5px;
	color: #FFF;
}

#settings fieldset table {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}

#settings td {
	padding-right: 5px;
	padding-bottom: 5px;
}

#settings fieldset table tr td { padding: 0px 5px 5px 0px; }
#settings fieldset table tr:last-child td { padding-bottom: 0px; }
#settings fieldset table tr td input { width: 100% !important; }


/* ===================== */
/* === JQUERY UI ======= */
/* ===================== */

.ui-dialog-titlebar {
	color: #FFF;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	background-color: #666;

	background-image: url("../img/gradient.svg");

	border-top: 1px solid #FFF;
	border-radius: 3px 3px 0px 0px;

	padding: 10px;
	cursor: move;
}

.ui-dialog {
	box-shadow: inset 0px 0px 10px #222;
	border: 1px solid #999;
	border-radius: 5px;
}

.ui-dialog-titlebar-close {
	float: right;
}

.dialog {

	background-color: #EEE;
	padding: 10px;
	display: none;
}

.ui-dialog-titlebar a {
	color: #FFF;
	background-color: transparent;
	text-decoration: none;
	border: 0px;
	border-bottom: 1px dotted #FFF;
	border-radius: 0px;
	padding: 0px;
}

.ui-dialog-titlebar a:hover { border-bottom: 1px solid #FFF; }

.ui-dialog table td {
	font-size: 12px;
	padding-right: 10px;
	padding-bottom: 10px;

	white-space: nowrap;
}

.ui-dialog table tr:last-child td { padding-bottom: 0px; }


/* ===================== */
/* === MISC ============ */
/* ===================== */

#dialog_tileset input {
	width: 90px !important;
	height: 20px;
	padding: 2px 5px;
	overflow: hidden;
}

#dialog_tileset input[type=button] {
	width: 100% !important;
	height: 25px;
	padding: 2px 5px;
}

#dialog_tileset input[type=file] {
	position: relative;
	height: 20px;
	opacity: 0;
	z-index: 2;
}

#dialog_tileset #file_container { position: relative; }

#dialog_tileset #file_overlay {
	position: absolute;
	top: 0px;
}

.hint {
	cursor: help;
	border-bottom: 1px dotted #000;
}