* { margin: 0px; padding: 0px; }
*:focus { outline: none; }

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: Arial;
	background-color: #333;
	box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

a {
	color: #FFF;
	text-shadow: 0px -1px #333;
	text-decoration: none;
	
	background-color: #666;
	border-top: 2px solid #999;

	padding: 2px 6px;
	border-radius: 5px;
}

a:hover {
	background-color: #669900;
	border-top: 2px solid #99CC00;
}

.remove:hover {
	border-color: #C00 !important;
	background-color: #900 !important;
}

#contextmenu {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99;

	border: 1px solid #111;
	list-style: none;
}

#contextmenu li {
	padding: 2px 5px;

	color: #FFF;
	text-shadow: -1px 0px #333;
	font-size: 12px;

	background-color: #666;
	border-top: 1px solid #999;
	border-bottom: 1px solid #333;

	cursor: pointer;
}

#contextmenu li:hover {
	border-top: 1px solid #99CC00;
	background-color: #669900;
}

#contextmenu > li:hover ul {
	position: absolute;
	left: 100%;
	margin-top: -19px;
}

#contextmenu li:last-child { border-bottom: 0px; }
#contextmenu > li > ul > li { display: none; }
#contextmenu > li:hover ul > li { display: block !important; }

#menubar {
	color: #999;
	font-size: 12px;
	text-shadow: 0px 1px #000;

	width: 100%;
	height: 25px;
	padding: 0px 10px;

	list-style: none;

	background-color: #222;
	border-bottom: 1px solid #333;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999;	
}

#menubar > li {
	height: 15px;
	padding: 7px 10px 3px 10px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid #111;
	border-right: 1px solid #333;
	cursor: pointer;
}

#menubar > li:hover, #menubar > li.open { color: #CCC; background-color: #333; }
#menubar > li:first-child { border-left: none; }
#menubar > li:last-child { border-right: none; }
#menubar > li.open ul { display: block; }

#menubar li ul {
	position: absolute;
	top: 25px;
	display: none;
	list-style: none;
	margin-left: -11px;
}

#menubar li ul li {
	color: #999;
	font-size: 12px;
	padding: 5px 10px;
	background-color: #333;

	border: 1px solid #222;
	border-top: 1px solid #444;
}

#menubar li ul li:hover { color: #CCC; background-color: #444; }
#menubar li ul li:first-child { border-top: none; }
#menubar li ul li:last-child { border-radius: 0px 0px 3px 3px; }

#menubar li ul li.checkbox {
	background-image: url("../img/icons/unchecked.png");
	background-repeat: no-repeat;
	background-position: 5px 50%;
	padding-left: 26px;
}

#menubar li ul li.checkbox:hover { background-image: url("../img/icons/unchecked_hover.png"); }
#menubar li ul li.checked { background-image: url("../img/icons/checked.png"); }
#menubar li ul li.checked:hover { background-image: url("../img/icons/checked_hover.png"); }


/* ===================== */
/* === CANVAS ========== */
/* ===================== */

#container {
	position: absolute;

	/* Not supported by chrome yet :( */
	image-rendering:-moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering:-webkit-optimize-contrast;
	-ms-interpolation-mode:nearest-neighbor;
}

#canvas {
	position: absolute;
	z-index: 0;

	display: block;
	background-color: #666;
	overflow: hidden;
}

#canvas_tiles { position: absolute; }

#canvas_tiles .layer {
	position: absolute;
	width: 100%;
	height: 100%;
}

#canvas_selection {
	position: absolute;
	z-index: 99;
	opacity: 0.5;
}

#grid {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;

	width: 100%;
	height: 100%;
	background-repeat: repeat;
}

#viewport {
	width: 800px;
	height: 600px;

	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;

	background-color: transparent;
	box-shadow: inset 2px 2px 0px #C00, inset -2px -2px 0px #C00;

	border: 1px solid rgba(0, 0, 0, 0.4);
	border-width: 0px;
}


/* ===================== */
/* === TOOLBAR ========= */
/* ===================== */

#toolbar .jspDrag, #toolbar .jspTrack{ display: none; }
#tilesets .jspDrag, #tilesets .jspTrack{ display: block; }

#toolbar {
	color: #CCC;
	font-size: 12px;
	text-shadow: 1px 1px 0px #000;

	width: 250px;
	height: 100%;

	padding: 10px;
	overflow: hidden;

	background-color: #444;
	border-right: 1px solid #555;
	box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);

	position: absolute;
	top: 27px;
	left: 0px;
	z-index: 99;
}

#toolbar section {
	background-color: #333;
	border-radius: 5px;

	margin-bottom: 10px;
	padding: 5px;
}

#toolbar section:last-child { margin-bottom: 20px; }

#toolbar section > h2 {
	color: #FFF;
	font-family: "Source Sans Pro";
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0px;
	background-color: #669900;

	background-image: url("../img/icons/collapse.png"), url("../img/gradient.svg");

	background-size: 22px 22px, contain;
	background-repeat: no-repeat, repeat;
	background-position: 210px 50%, 0px 0px;

	border-top: 1px solid #FFF;
	border-radius: 3px 3px 0px 0px;

	padding: 10px;
	cursor: pointer;
}

#toolbar section > h2.collapsed {
	background-image: url("../img/icons/expand.png"), url("../img/gradient.svg");
	border-radius: 3px;
}

#output > h2 {
	background-image: url("../img/gradient.svg") !important;
	background-size: contain !important;
	background-repeat: repeat !important;
	background-position: 0px 0px !important;
	border-radius: 3px !important;
}

#toolbar section > div {
	position: relative;
	background-color: #333;
	border: 1px solid #222;
	border-top: 0px;

	box-shadow: inset 0px 0px 10px #222;
	padding: 10px;
	border-radius: 0px 0px 3px 3px;

	overflow: hidden;
}


/* ===================== */
/* === TILESETS ======== */
/* ===================== */

#selector {
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	width: 32px;
	height: 32px;
	background-color: rgba(255, 255, 255, 0.5);
}

#custom_select {
	width: 100%;
	height: 30px;
	overflow: hidden;
	background-color: #666;
	box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.2);
	background-image: url("../img/icons/select_arrow.png");
	background-position: right;
	background-repeat: no-repeat;
	border: 0px;
	border-radius: 3px;
	border: 1px solid #555;

	margin-bottom: 10px;
}

#tilesets select[name=tileset_select] {
	width: 360px;
	padding: 5px 0px 5px 5px;
	color: #CCC;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	text-shadow: 0px -1px #322;
	border: 0px;
	background: transparent;
	-webkit-appearance: none;
}

#tilesets select[name=tileset_select] option { color: #333; }

#tilesets #tileset { height: 200px; }

#loading {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99;

	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

#loading > img { padding-top: 100px; }


/* ===================== */
/* === LAYERS ========== */
/* ===================== */

ul#layer_list {
	border: 1px solid #111;
	list-style: none;
}

ul#layer_list > li {
	height: 10px;

	color: #CCC;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.5);
	font-size: 12px;
	line-height: 10px;

	padding: 10px;
	padding-left: 35px;
	background-color: #666;

	border-top: 1px solid #999;
	border-bottom: 1px solid #333;

	background-image: url("../img/icons/eye_open.png"), url("../img/icons/cog.png");
	background-repeat: no-repeat;
	background-position: 10px center, 193px center;

	cursor: pointer;
}

ul#layer_list > li:last-child { border-bottom: 0px; }
ul#layer_list > li.hide { background-image: url("../img/icons/eye_closed.png"), url("../img/icons/cog.png"); }
ul#layer_list > li.active { background-color: #564; }


/* ===================== */
/* === JQUERY UI ======= */
/* ===================== */

.ui-dialog-titlebar {
	color: #FFF;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	background-color: #666;

	background-image: url("../img/gradient.svg");

	border-top: 1px solid #FFF;
	border-radius: 3px 3px 0px 0px;

	padding: 10px;
	cursor: move;
}

.ui-dialog {
	box-shadow: inset 0px 0px 10px #222;
	border: 1px solid #999;
	border-radius: 5px;
}

.ui-dialog-titlebar-close {
	float: right;
}

.dialog {
	background-color: #EEE;
	padding: 10px;
	display: none;
}

.ui-dialog-titlebar a {
	color: #FFF;
	background-color: transparent;
	text-decoration: none;
	border: 0px;
	border-bottom: 1px dotted #FFF;
	border-radius: 0px;
	padding: 0px;
}

.ui-dialog-titlebar a:hover { border-bottom: 1px solid #FFF; }

.ui-dialog table td {
	font-size: 12px;
	padding-right: 10px;
	padding-bottom: 10px;

	white-space: nowrap;
}

.ui-dialog table tr:last-child td { padding-bottom: 0px; }

.ui-widget-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}


/* ===================== */
/* === MISC ============ */
/* ===================== */

.dialog input[type=text], .dialog input[type=number] {
	width: 90px !important;
	height: 20px;
	padding: 2px 5px;
	overflow: hidden;
	border: 1px solid #999;
}

.dialog input[type=button] {
	height: 25px;
	padding: 2px 5px;
}

.dialog #file_container { position: relative; }

.dialog input[name=tileset_file] {
	position: relative;
	height: 20px;
	opacity: 0;
	z-index: 9999;
}

.dialog input[name=tileset_file_overlay] {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}

.hint {
	cursor: help;
	border-bottom: 1px dotted #000;
}